---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% include "layouts/home/opening.njk" %}
{% include "layouts/home/banner.njk" %}
{% include "layouts/home/detailpos.njk" %}
{% include "layouts/home/bestseller.njk" %}
{% include "layouts/home/webapp.njk" %}
{% include "layouts/home/technology.njk" %}
{% include "layouts/home/usaha.njk" %}
