<div class="row">
<div class="col-md-12 p-0">
<img class="img-fluid" width="100%" height="100%" alt="{{metadata.title}}" src="{{home.banner.cover}}"/>
</div>
<div class="col-md-12 p-0 bg-light border">
<div class="p-3 p-md-5 text-center">
<h3><strong><a href="{{ '/' | url }}">{{home.banner.title}}</a></strong></h3>
<p>{{home.banner.text}}</p>
</div>
</div>     
</div>