<div class="row black">
<div class="col-md-12 text-center p-3 p-md-5">
<h3 class="mt-5"><a href="{{ '/' | url }}" class="text-white">{{home.section3.title}}</a></h3>
<p>{{home.section3.text}}</p>
</div>
<div class="col-md-4 p-3 p-md-5">
<img class="img-fluid" width="100%" height="100%" loading="lazy" alt="{{metadata.title}}" src="{{home.section3.cover1}}"/>
<div class="bg-dark p-3">
<h3 class="mt-1">{{home.section3.title1}}</h3>
<p class="mt-1"><small>{{home.section3.text1}}</small></p>
</div>  
<a href="{{home.section3.link1}}" class="btn btn-light col-12">{{home.section3.title1}} Info</a>
</div>  
<div class="col-md-4 p-3 p-md-5">
<img class="img-fluid" width="100%" height="100%" loading="lazy" alt="{{metadata.title}}" src="{{home.section3.cover2}}"/>
<div class="bg-dark p-3">
<h3 class="mt-1">{{home.section3.title2}}</h3>
<p class="mt-1"><small>{{home.section3.text2}}</small></p>
</div>  
<a href="{{home.section3.link2}}" class="btn btn-light col-12">{{home.section3.title2}} Info</a>
</div> 
<div class="col-md-4 p-3 p-md-5"> 
<img class="img-fluid" width="100%" height="100%" loading="lazy" alt="{{metadata.title}}" src="{{home.section3.cover3}}"/>
<div class="bg-dark p-3">
<h3 class="mt-1">{{home.section3.title3}}</h3>
<p class="mt-1"><small>{{home.section3.text3}}</small></p>
</div>  
<a href="{{home.section3.link3}}" class="btn btn-light col-12">{{home.section3.title3}} Info</a>
</div> 
<div class="col-md-12 p-3 p-md-5 text-center"> 
<a href="/product/" class="btn btn-light">Explore POS Product</a> 
<a href="/shop/#!/All-in-one-touchscreen-POS/c/42880013" class="btn btn-light">Shop Now</a>
</div>