<div class="row bg-light">
<div class="col-md-12 p-3 p-md-5 text-center">
<h3><strong><a href="{{ '/' | url }}">{{home.section6.title}}</a></strong></h3>
<p>{{home.section6.text}}</p>
</div>
<div class="col-md-4 p-0 black">
<img class="img-fluid" width="100%" height="100%" loading="lazy" alt="{{metadata.description}}" src="{{home.section6.cover1}}"/>
</div>
<div class="col-md-8 p-3 p-md-5 border border-top">
<h4><a href="{{ '/' | url }}">{{home.section6.title1}}</a></h4>
<p><small>{{home.section6.text1}}</small></p>
<a href="{{home.section6.link1}}" class="p-1 btn btn-outline-dark"><small>{{home.section6.title1}} info →</small></a>
</div>
<div class="col-md-4 p-0">
<img class="img-fluid" width="100%" height="100%" loading="lazy" alt="{{metadata.description}}" src="{{home.section6.cover2}}"/>
</div>
<div class="col-md-8 p-3 p-md-5">
<h4><a href="{{ '/' | url }}">{{home.section6.title2}}</a></h4>
<p><small>{{home.section6.text2}}</small></p>
<a href="{{home.section6.link2}}" class="p-1 btn btn-outline-dark"><small>{{home.section6.title2}} info →</small></a>
</div>
</div>