<div class="row justify-content-center">
{% for post in postslist | reverse %}
    <div class="col-md-6 p-3">
    <a href="{{ post.url | url }}" class="btn btn-outline-dark p-1 border border-white page-list">
    {% if post.data.cover %}<img class="img-fluid" width="100%" height="100%" lazy="loading" alt="{{ post.data.title }}" src="{{ post.data.cover }}"/>{% else %} {{ post.url }} {% endif %}
    <div class="p-3 row">
    <h3 class="text-start col-md-5">{% if post.data.title %}{{ post.data.title }}{% else %} {{ post.url }} {% endif %}</h3>
    <p class="col-md-7 text-start"><span class="tags">{% if post.data.description %}{{ post.data.description }}{% else %} {{ post.url }} {% endif %}</span></p>
    </div>
    </a>
    </div>
{% endfor %}
</div>
