<div class="row">
  <div class="col-md-1 p-1 mt-5 col-2">
  <button class="btn btn-dark mt-5 rounded" type="button" data-bs-target="#carouselMesinKasir" data-bs-slide="prev">
    <span class="carousel-control-prev-icon btn-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  </div>


<div class="col-md-10 p-1 col-8">
<div id="carouselMesinKasir" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner row">    
  <div class="carousel-item active col-md-12" data-bs-interval="3000">
  <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/{{fitur.robopos.video1}}" class="rounded" loading="lazy" title="{{description}}" allowfullscreen></iframe>
</div>
        <div class="p-1 col-md-12">
        <h3>{{intro1}}</h3>
        <p>{{text1}}</p>
      </div>
    </div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
  <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/{{fitur.robopos.video2}}" class="rounded" loading="lazy" title="{{metadata.title}}" allowfullscreen></iframe>
</div>
        <div class="p-1 col-md-12">
        <h3>{{intro2}}</h3>
        <p>{{text2}}</p>
      </div>
    </div>
    <div class="carousel-item col-md-12" data-bs-interval="3000">
  <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/{{fitur.robopos.video3}}" class="rounded" loading="lazy" title="{{description}}" allowfullscreen></iframe>
</div>
</div>
    


  </div>
 </div>
</div>

  <div class="col-md-1 p-1 mt-5 col-2">
  <button class="btn btn-dark mt-5 rounded" type="button" data-bs-target="#carouselMesinKasir" data-bs-slide="next">
    <span class="carousel-control-next-icon btn-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>

  
  </div>