<div class="row">
  <div class="col-md-1 p-1 mt-5 col-2">
  <button class="btn btn-dark mt-5" type="button" data-bs-target="#carouselMesinKasir" data-bs-slide="prev">
    <span class="carousel-control-prev-icon btn-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  </div>


<div class="col-md-10 p-1 col-8">
<div id="carouselMesinKasir" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner row">    

  <div class="carousel-item active col-md-12" data-bs-interval="3000">
  <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/Kv9S6STyGhI" loading="lazy" title="graha mandiri pelanggan mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>

  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/Zzmvh4IzYyc" loading="lazy" title="rollas cafe mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>

  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/zs0I0gZub-8" loading="lazy" title="Rosemarie suncity madiun pelanggan mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/yXsPv1wiDmY" loading="lazy" title="Toko RIA Bakery Cake pelanggan mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/HIdN_6c_iFQ" loading="lazy" title="Cafe restoran mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/MTPrQ7Xft-E" loading="lazy" title="minimarket shop toko mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/5ZLaZ0Aa9Rc" loading="lazy" title="supermarket mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/SaBFaJXLQG8" loading="lazy" title="Baby shop mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/t4EX0JYr1P0" loading="lazy" title="Kuliner mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/MCe0hb1E8rI" loading="lazy" title="cafe mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/JF4iTtRuqZ4" loading="lazy" title="Data pengguna dan pelanggan mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
  <div class="carousel-item col-md-12" data-bs-interval="3000">
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/hEBvVu3i43w" loading="lazy" title="Data pengguna dan pelanggan mesin kasir aplikasi kasir toko minimarket restoran cafe rumah makan" allowfullscreen></iframe>
</div>
</div>
 </div>
 </div>
</div>

  <div class="col-md-1 p-1 mt-5 col-2">
  <button class="btn btn-dark mt-5" type="button" data-bs-target="#carouselMesinKasir" data-bs-slide="next">
    <span class="carousel-control-next-icon btn-dark" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>


<div class="col-md-12 p-3 p-md-5 col-12">
<h3>Mesin Kasir Project</h3>
<p>Technology dan hardware kami banyak digunakan oleh pelanggan baik dari dalam dan luar negri untuk kebutuhan point of sale system , mesin kasir all in one siap pakai, aplikasi kasir toko shop , aplikasi restoran cafe rumah makan dan website integrasi dalam satu apps untuk menunjang bisnis usaha mu, pastikan anda menggunakan teknologi terkini dari kami dan dukungan hardware terbaik untuk solusi awet kuat dan tahan lama dalam digunakan.</p>
</div>
  
  </div>