{% include "layouts/widget/seo.njk" %}
{% include "layouts/widget/nav.njk" %}
{% include "layouts/widget/headerpage.njk" %}
{% include "layouts/widget/content.njk" %}
{% include "layouts/widget/label.njk" %}
{% include "layouts/widget/footer.njk" %}